* {
  font-family: "Open Sans", sans-serif;
  font-family: "Raleway", sans-serif;
}

html {
  min-height: 100%;
  background-color: #fcd928;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 32px;
}

body > * + * {
  margin-top: 16px;
}

.rounded {
  border-radius: 8px;
  padding: 16px;
  color: white;
}

.background-orange {
  background-color: #f26033;
}

.background-green {
  background-color: #1aad49;
}

.inline-items * {
  display: inline-block;
  vertical-align: top;
}

.bold {
  font-weight: bold;
}

#counter {
  position: sticky;
  top: 10px;
}

#slider {
  display: flex;
  height: 300px;
  width: 100%;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0;
}

#slider li {
  list-style: none;
  position: relative;
}

#slider li + li {
  margin-left: 6px;
}

#slider li img {
  height: calc(100% - 8px);
  border-radius: 8px;
  border: 1px solid black;
  border-bottom: 4px solid black;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7876a;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c76a4d;
}
